In [50]:
##markdown

li = [1,9,16,25,5]
print(max(li))   # prints the element with max value
print(min(li))   # prints the element with max value
print(sum(li))   # prints the sum of elements 
print(sum(li)//len(li))  #prints the avg of the elements
li.append(29)    # adds elemnt(s) in the last of list
print(li)
li.insert(2,56)  # adds value in that particular index/address i.e. it adds 56 in address 2
print(li)
print(li.count(9)) # counts how many elements to that value are present, here there is 1 nine.
print(li.index(56)) # tells the index/address of 56
li.sort()   # prints in ascending order
print(li) 
li.pop()    # removes the last elememt
print(li)
li.pop(1) # removes the element in index 1
print(li)
li1=[1,2,3,4]
li.extend(li1) #elemnts of li1 will get added in the end of li
li
print(li)
li1.reverse() # reverses the list
print(li1)
print(li)
li.sort()
print(li)

25
1
56
11
[1, 9, 16, 25, 5, 29]
[1, 9, 56, 16, 25, 5, 29]
1
2
[1, 5, 9, 16, 25, 29, 56]
[1, 5, 9, 16, 25, 29]
[1, 9, 16, 25, 29]
[1, 9, 16, 25, 29, 1, 2, 3, 4]
[4, 3, 2, 1]
[1, 9, 16, 25, 29, 1, 2, 3, 4]
[1, 1, 2, 3, 4, 9, 16, 25, 29]

In [48]:
def largenumber(li):
    li.sort()
    return li[-3]
def genericlarge(li,n):
    li.sort()
    return li[-n]
print(largenumber(li))
print(genericlarge(li,6))

16
3

In [60]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
print (smallnumber(li))
print(genericsmall(li,6))

1
9

## Tuple:
1.paranthesis "( )" for tuple, while "[ ]" is for list. <br>
2.difference between list and tuple:
     - lists are mutable (modified) and  are used to access and modify,add,delete data.
     - Tuples  are immutable,used to access data.

In [64]:
tup=(16,43,82,3,9,2,0,27,3,8)
print(tup)

(16, 43, 82, 3, 9, 2, 0, 27, 3, 8)

## Dictionary:
1.It works on the concept of set unique data.<br>
2.Keys,values is the unique identifier for the value.<br>
3.Each key is seperated from its values with ":".<br>
4.Each key and value are seperated with ",".<br>
5.Dictionaries enhanced with "{ }".

In [67]:
d1={"name":"gitam","email_id":"gitam@gmail.com","address":"hyd"}
d1

{'name': 'gitam', 'email_id': 'gitam@gmail.com', 'address': 'hyd'}

In [68]:
d1["name"]

'gitam'

In [71]:
d1["email_id"]="abc_xyz@gitam.edu" #upadating data
d1

{'name': 'gitam', 'email_id': 'abc_xyz@gitam.edu', 'address': 'hyd'}

In [73]:
d1["course"]="python" #adding information
d1

{'name': 'gitam',
 'email_id': 'abc_xyz@gitam.edu',
 'address': 'hyd',
 'course': 'python'}

In [82]:

del d1("email_id")
d1

SyntaxError: can't delete function call (<ipython-input-82-70ada041c968>, line 2)

In [85]:
d1.values() # prints values

dict_values(['gitam', 'hyd', 'python'])

In [83]:
d1.keys() # prints keys

dict_keys(['name', 'address', 'course'])

In [84]:
d1.items() #the list of tupes of keys and values

dict_items([('name', 'gitam'), ('address', 'hyd'), ('course', 'python')])

## Strings:
1. Strings
2. String Slicing
3. Fundamental programming with strings in python

In [112]:
s1="python"
print(s1)
print(type(s1))
print(s1[0])
print(s1[1])
print(s1[2])
print (len(s1))
print(s1[len(s1)-3])
print(s1[-1])
print(s1[0:2])
print(s1[-6:])
print(s1[:-1])
print(s1[1:-1])
print(s1[-1:-3])
print(s1[-3:1])
print(s1[-1:-3:1])
print(s1[len(s1)//2])
print(s1[::2]) #skip 1 from 0
print(s1[::-2]) #skip 1 from -1

python
<class 'str'>
p
y
t
6
h
n
py
python
pytho
ytho



h
pto
nhy

In [113]:
# reverse of a string
def reverse(str):
    return str[-1::-1]
reverse("python")

'nohtyp'

In [119]:
#palindrome

def palindrome(str):
    if str==str[-1::-1]:
        return True
    else:
        return False
print(palindrome("python"))
print(palindrome("abcba"))

False
True

### String Built-in methods:
1. upper()  (will convert into upper case)<br>
2. lower()  (will convert into upper case)

In [120]:
s1="python"
print(s1.upper())
print(s1.lower())

PYTHON
python

### String boolean Built-in meathods:
1. islower() <br>
2. isupper() <br>
3. istitle() <br>
4. isnumeric() <br>
5. isalpha() <br>
6. isspace()

In [132]:
s1="python"
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())
print(s)
s="         "
print(s.isspace())

s2="A 2 3 4 a b c "
print(s2)
print(s2.istitle())
print(s2.isnumeric())
print(s2.isalpha())
print(s2.isspace())

False
True
False
False
True
False

True
A 2 3 4 a b c
False
False
False
False

## String methods:
- join() -- contactination
- split() -- split() returns the a list of strings separted by whitespace
- replace() -- replaces the specific word/character with new word/character

In [133]:
s1 = 'python'
print(" ".join(s1))
print(",".join(s1))

p y t h o n
p,y,t,h,o,n

In [135]:
s2= "python programming easy to learn"
li=list(s2)
print(li)
print(s2.replace("gra","Application"))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']
python proApplicationmming easy to learn

In [136]:
s2="python programming is easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [137]:
li=["python","programming","learn"]
print(",".join(li))

python,programming,learn

In [138]:
s2="python programming easy to learn"
print(s2.split('a'))



s2="python programming easy to learn"
print(len(s2))
li=s2.split() #split
li=s2.split()
print(li)
print(len(li))

['python progr', 'mming e', 'sy to le', 'rn']
32
['python', 'programming', 'easy', 'to', 'learn']
5